body{
    font-family: arial, sans-serif;

}

a{
    margin: 5px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav{
    display: flex;
    justify-content: flex-end;
}
.header_nav{
    display: flex;
    align-items: center;
    margin-right: 10px;

}
.header_img:hover{
        box-shadow: 0 0 10px 0 gainsboro;
        border-radius: 20px;
        cursor: pointer;
}
 section{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 3vh;
}
h1{
    font-family: sans-serif ;
    font-size: 6.5em;
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
} 
 .sec_div_ip{
    display: flex;
    justify-self: space-between;
    width: 600px;
    height: 38px;
    border: 2px solid gainsboro;
    align-items: center;
    border-radius: 20px;
}
.sec_div_ip:hover{
    box-shadow: 0 0 10px 0 gainsboro;
}
.sec_div_img{
       
       display: flex;
       justify-self: flex-end;
       margin-right: 10px;
       align-items: center;
}
.sec_div_fom{
    
    display: flex;
    justify-content: start;
    align-items: center;
}
.sec_div_ip > form{
    
    flex-grow: 1;
    border: none;
    outline: none;
}
.sec_div_fom > input{
    flex-grow: 1;
    border: none;
    outline: none;
}

.sec_div_fom_btn{
    
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    border: none;
    font-size: 4px;
    margin-left: 2px;
    margin-top: 1px;
    background-color: white;
}

img:hover{
    cursor: pointer;
}
.sec_div_btn{
    padding-top: 30px;
    
}
button:hover{
       cursor: pointer;
       box-shadow: 0 0 10px 0 gainsboro;
}
button{
    background-color: #F8F9FA;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;

} 
#resultData{
    display: none;
    width: 800px;
    height: 200px;
    border: 2px solid gainsboro;
    text-align: left;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 20px;
   
    
}
.nav_foot{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #f2f2f2;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.foot_div{
    display: flex;
    height: 50px;
    border-bottom: 1px solid gainsboro;
    padding-left: 20px;
    align-items: center;
   
}

.foot_right{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;

}
.foot_left{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}

@media (max-width: 630px){
    .nav_foot{
        flex-direction: column;
    }
    .foot_left{
        justify-content: center;
    }
    .foot_right{
        justify-content: center;
    }
    .sec_div_ip{
        width: 95vw;
    }

}

@media (max-height: 522px){
    body{
        overflow-x: hidden;
    }
    section {
        margin-bottom: 20px;
    }
    footer {
        position: relative;

    }
}

@media (max-height: 570px) and (max-width: 630px){
    body{
        overflow-x: hidden;
    }
    section{
        margin-bottom: 13px;
    }
    footer{
        position: relative;
    }
}