.foot_right{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;

}
.foot_left{
    display: flex;
    justify-self: start;
    padding-left: 20px;
    align-items: center;
}


.result_img {
    float: left;
    padding-right: 10px;
    height: 30px;
    width: 30px;
}
.result_text {
    float: left;
    font-size: 15px;
}
.result_text a {
    text-decoration: none;
    color: #000;
}
.result_text a:hover {
    color: #0076D6;
}
.result_description {
    clear: both;
  }